---
import AdminLayout from '../../../layout/admin.astro';
import ProductEdit from '../../../components/react/productedit';

const { id } = Astro.params;  // Get the product ID from the URL
let uid = id;
---

<AdminLayout>
  <div class="w-full main">
      <ProductEdit id={uid}  client:load/>
  </div>
</AdminLayout>

