---
import Layout from '../../../layout/layout.astro';
import Adminheader from '../../../layout/admin.astro';

---

<Layout title="Astro | Account" empty={true} /> 
        <Adminheader>
            <div class="w-full main">
                Create products
            </div>
        </Adminheader>
</Layout>