---
import Layout from '../../../layout/layout.astro';
import AdminLayout from '../../../layout/admin.astro';

---

<AdminLayout>
    <div class="w-full main">
        Create products
    </div>
</AdminLayout>