---
import AdminLayout from '../../../layout/admin.astro';
import ProductsList from '../../../components/react/productlist';
---

<AdminLayout>
    <div class="w-full main">
        Edit products
    </div>
    <ProductsList client:load/>
</AdminLayout>
