---
import Layout from '../layout/layout.astro';
import AccountDashboard from '../components/account.astro'
import Link from '../components/navlink.astro'
import { isLoggedIn } from '../util/auth';
import { Logoutform } from '../components/react/logoutform';
import AdminDashboard from '../components/react/admindash';
    
const { success, data, user } = await isLoggedIn(Astro.request);

if( !success || !user )
    return Astro.redirect( "/login" );

let users;

if( user.isAdmin )
{
    users = await fetch('http://localhost:5521/api/db/users')
    .then((res) => res.json())
    .catch((err) => {
        console.error('Error fetching users:', err);
        return [];
    });
}
---

<Layout title="Astro | Account">
    <div class="flex justify-center items-center w-full flex-col">
        { 
            user.isAdmin ? (
                <AdminDashboard users={users} client:load />
            )
            :
            (
                <p>You are not admin!</p>
            )
        }
        <Logoutform client:load/>
    </div>
</Layout>