---
import Layout from "../layout/layout.astro";
import { RegisterForm } from "../components/react/registerform";
---


<Layout title="Astro | Register">
    <div class="center-screen">
        <div class="auth-form-wrap">
            <h1 class="text-2xl font-bold">Register</h1>
            <RegisterForm client:load /> 
        </div>
    </div>
</Layout>