---
import Layout from "../layout/layout.astro";
import { RegisterForm } from "../components/react/registerform";
---


<Layout title="Astro | Register">
    <main class="max-h-full h-full min-w-[220px] w-auto my-[48px]">
        <div class="max-w-[640px] m-auto rounded-[26px] border-gray-200 border-2 bg-gray-50 p-[72px]">
            <div class="text-center">
                <h1 class="text-3xl font-semibold">Sign in to get started</h1>
            </div>
            <div class="content">
                <RegisterForm client:load />
            </div>
        </div>
    </main>
</Layout>