---
import { Logoutform } from '../../components/react/logoutform';
import AdminLayout from '../../layout/admin.astro';

import { isLoggedIn } from '../../util/auth';

const { success, data } = await isLoggedIn( Astro.request );
const user = data;

if( !success || !user )
    return Astro.redirect( "/login" );

if( !user?.isAdmin )
    return Astro.redirect( "/account")
---

<AdminLayout>
    <div class="w-full main">
        <Logoutform client:load/>
    </div>
</AdminLayout>