---
import { Logoutform } from '../../components/react/logoutform';
import AdminLayout from '../../layout/admin.astro';

---

<AdminLayout>
    <div class="w-full main">
        <Logoutform client:load/>
    </div>
</AdminLayout>