

<nav class='p-3 bg-slate-100 relative h-50 pl-10 pr-10'>
    <div class='max-w-[1800px] mx-auto flex justify-evenly items-center relative h-full'>
      <div class='ml-1 mr-1'>
        <a href='/'>
          <img
            width='150'
            height='50'
            alt='Astro ecommerce'
            style={{ objectFit: 'cover' }}
            class='w-[80px] md:w-[100px]'
          />
        </a>
      </div>
      <ul class="flex w-3/4 h-full justify-evenly items-center relative">
        <li><a href="/products" class="flex items-center gap-1">products</a></li>
        <li><a href="/" class="flex items-center gap-1">stuff</a></li>
        <li><a href="/" class="flex items-center gap-1">more stuff</a></li>
      </ul>
      <ul>
        <li><a href="/login" class="flex items-center gap-1">login</a></li>
      </ul>
    </div>
  </nav>
