---
import Header from './header.astro';
import Footer from './footer.astro';
const { title, style='/styles/style.css',  onepage=false }  = Astro.props;

---


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title}</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body class={ onepage ? "one-page" : "" }>
   
    <Header />           
    <slot />
    <Footer />
</body>
</html>